body {
	margin: 0;
}


.background {
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: black;
}

.mainScene {
	position: absolute; 
	width: 70%;
	left: 15%;
	height: 75vh;
	top: 25vh;
}

#clubActivityShow{
	width: 100vw;
	height: 20vh;
	position: absolute;
	top: 80vh;
	background-color: red;
	overflow: hidden;
	opacity: 0.5;
	--progress: -1;
	margin-top: calc(10px * (1 - var(--progress)));
}

#secondScene {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 100vh;
	overflow: hidden;
}

#thirdScene {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 200vh;
	display: flex;
	justify-content: center;
	background: linear-gradient(top, rgb(000, 000, 000), #0f1012);
	background: -webkit-linear-gradient(top, rgb(000, 000, 000), #0f1012);
}

#forthScene {
	position: absolute;
	width: 100%;
	height: 110vh;
	top: 300vh;
	background-color: #0f1012;
}

#bottomScene {
	position: absolute;
	width: 100%;
	height: 20vh;
	top: 410vh;
	overflow: hidden;
	background-color: #0f1012;
	background: rgba(0, 0, 0, 0.70);
	backdrop-filter: blur(10.0px);
	-webkit-backdrop-filter: blur(10.0px);
	-moz-backdrop-filter: blur(10.0px);
	-ms-backdrop-filter: blur(10.0px);
	-o-backdrop-filter: blur(10.0px);
}

#introPic {
	position: absolute;
	width: 32rem;
	height: 32rem;
	right: 0rem;
	top: 0rem;
	opacity: 0;
	--progress: 0;
	-webkit-animation: 0.5s img-show ease-in-out forwards;
	animation: 0.5s img-show ease-in-out forwards;
}

#clubActivityPic{
	--progress: -1;
	margin-top: calc(-90px * (1 - var(--progress)));
}

@-webkit-keyframes img-show {
	to {
		opacity: calc(1 - var(--progress));
		height: calc(32rem * (1 - var(--progress)));
		width: calc(32rem * (1 - var(--progress)));
		right: calc(32rem * (var(--progress)) / 2);
		top: calc(32rem * (var(--progress)) / 2);
	}
}

@keyframes img-show {
	to {
		opacity: calc(1 - var(--progress));
		height: calc(32rem * (1 - var(--progress)));
		width: calc(32rem * (1 - var(--progress)));
		right: calc(32rem * (var(--progress)) / 2);
		top: calc(32rem * (var(--progress)) / 2);
	}
}

@-webkit-keyframes text-img-show-up {
	to {
		opacity: calc(1 - var(--progress));
		height: calc(32rem * (1 - var(--progress)));
		width: calc(32rem * (1 - var(--progress)));
		right: calc(32rem * (var(--progress)) / 2);
		top: calc(32rem * (var(--progress)) / 2);
	}
}

.intro {
	position: absolute;
	width: 50%;
	height: 32rem;
	z-index: 1;
}

.hugeText {
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 4.2rem;
	color: white;
	word-spacing: 0rem;
	line-height: 120%;
}

.littleText {
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: lightgrey;
	font-size: 1.4rem;
	word-spacing: 0.3rem;
}

span {
	display: inline-block;
	overflow: hidden;
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

span i {
	font-style: normal;
	position: relative;
	top: 4.5rem;
	line-height: 2.8rem;
	--progress: 0;
	-webkit-animation: .5s text-swift-up ease-in-out forwards;
	        animation: .5s text-swift-up ease-in-out forwards;
}

span a {
	line-height: 2.8rem;
}


@keyframes text-swift-up {
	to {
		top: calc(4.5rem - 4.5rem * (1 - var(--progress)/2));
		opacity: calc(1 - var(--progress));
	}
}

@-webkit-keyframes text-swift-up {
	to {
		top: calc(4.5rem - 4.5rem * (1 - var(--progress)/2));
		opacity: calc(1 - var(--progress));
	}
}

span:nth-of-type(1) i {
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}

span:nth-of-type(2) i {
	-webkit-animation-delay: 0.1s;
	        animation-delay: 0.1s;
}

span:nth-of-type(3) i {
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}

span:nth-of-type(4) i {
	-webkit-animation-delay: 0.3s;
	        animation-delay: 0.3s;
}

span:nth-of-type(5) i {
	-webkit-animation-delay: 0.4s;
	        animation-delay: 0.4s;
}

span:nth-of-type(6) i {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}

span:nth-of-type(7) i {
	-webkit-animation-delay: 0.6s;
	        animation-delay: 0.6s;
}

.firstMark {
	background-color: transparent;
	color: inherit;
	background-image: linear-gradient(#FF7818, #FF7818);
	background-repeat: no-repeat;
	background-size: 0% 20%;
	background-position: 0% 100%;
	-webkit-animation: 0.4s highlight ease-in-out forwards;
	        animation: 0.4s highlight ease-in-out forwards;
	-webkit-animation-delay: 0.7s;
	        animation-delay: 0.7s;
}

.secondMark {
	background-color: transparent;
	color: inherit;
	background-image: linear-gradient(#FF7818, #FF7818);
	background-repeat: no-repeat;
	background-size: calc(100% * var(--progress)) 20%;
	background-position: 0% 100%;
}

.thirdMark {
	background-color: transparent;
	color: inherit;
	background-image: linear-gradient(#FF7818, #FF7818);
	background-repeat: no-repeat;
	background-size: calc(100% * var(--progress) * 1.5) 20%;
	background-position: 0% 100%;
}

.forthMark {
	background-color: transparent;
	color: inherit;
	background-image: linear-gradient(#FF7818, #FF7818);
	background-repeat: no-repeat;
	background-size: 0% 20%;
	background-position: 0% 100%;
}

@keyframes highlight {
	to {
		background-size: calc(100% - 100% * var(--progress)) 20%;
	}
}

@-webkit-keyframes highlight {
	to {
		background-size: calc(100% - 100% * var(--progress)) 20%;
	}
}

#nav {
	position: fixed;
	width: 100vw;
	height: 4rem;
	background: rgba(0, 0, 0, 0.70);
	backdrop-filter: blur(10.0px);
	-webkit-backdrop-filter: blur(10.0px);
	margin: 0;
	padding: 0;
	z-index: 2;
	display: flex;
	display: -webkit-flex;
	/* Safari */
	align-items: center;
}

#navBox {
	position: absolute;
	width: 70vw;
	height: 100%;
	right: 4rem;
}

#accountBox {
	position: absolute;
	width: 12vw;
	height: 100%;
	right: 0;
	display: flex;
	display: -webkit-flex;
	/* Safari */
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#itemBox {
	position: absolute;
	width: 50vw;
	height: 100%;
	right: 20vw;
	display: flex;
	display: -webkit-flex;
	/* Safari */
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}


#brainGameVideo {
	/* width: 142.16 vh    (1.777倍的高) */
	height: 80vh;
	position: absolute;
	top: 10vh;
	/* Left 是总宽度的十分之一 , 当是十分之八的时候隐藏 */
	right: calc(-142.16vh * ((1 - var(--progress)) /10*7 + 1/10));
	opacity: var(--progress);
	transition: right 2s;
	-webkit-transition: right 2s;
	z-index: 0;
}

#gameIntro {
	width: 35vw;
	height: 32rem;
	position: absolute;
	top: 17vh;
	left: 15vw;
	z-index: 1;
	transition: left 2s;
	-webkit-transition: left 2s;
}

.secondText {
	font-style: normal;
	position: relative;
	--progress: 0;
	top: calc(4.5rem * (1 - var(--progress)));
	opacity: var(--progress);
}

.forthText {
	font-style: normal;
	position: relative;
	--progress: 0;
	opacity: var(--progress);
}

#startBrainGame {
	position: relative;
	width: 25vw;
	width: calc(25vw * var(--progress));
	opacity: var(--progress);
	height: 5vw;
	color: white;
	background: rgba(0, 0, 0, 0.70);
	backdrop-filter: blur(10.0px);
	-webkit-backdrop-filter: blur(10.0px);
	/* border: solid 1px greenyellow; */
	border-radius: 20px;
	font-size: 2rem;
	color: white;
}

#qrCodeBox {
	height: 50vh;
	width: 50vh;
	background-color: white;
	position: absolute;
	top: 25vh;
	/* Left 是总宽度的十分之一 , 当是十分之八的时候隐藏 */
	right: 20vw;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 360px;
}

#qrCode {
	width: 70%;
	height: 70%;
}

.brainGameItem {
	color: white;
	transition: color 1s;
	-webkit-transition: color 1s;
}

.newKnowledgeItem {
	color: white;
	transition: color 1s;
	-webkit-transition: color 1s;
}

.logItem {
	color: white;
	transition: color 1s;
	-webkit-transition: color 1s;
}


.thirdText {
	position: relative;
	top: calc(10vh * var(--progress));
	opacity: var(--progress);
}

.newKnowledgeCard {
	position: absolute;
	top: calc(10vh + 4.2rem + 10vh);
	height: 48vh;
	width: 40vw;
	border-radius: 20px;
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.80);
	backdrop-filter: blur(10.0px);
	-webkit-backdrop-filter: blur(10.0px);
	overflow: hidden;
	opacity: var(--progress);
}

.articleImg {
	width: 100%;
	height: 70%;
}

.articleDetail {
	width: 100%;
	height: 30%;
	top: 70%;
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	display: flex;
	justify-content: center;
	align-items: center;
}

#codeArea {
	color: white;
	display: inline;
	width: 55vw;
	position: absolute;
	left: 0vw;
	height: 50vh;
	top: 15vh;
}

#htmlBox {
	color: white;
	display: inline;
	width: 36vw;
	position: absolute;
	left: 10vw;
	height: 32vh;

	border-radius: 15px;
	background: #0f1012;
	box-shadow: 20px 20px 100px #060607,
		-20px -20px 100px #181a1d;
	z-index: 1;
	background: rgba( 15, 16, 18, 0.80 );
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 2px );
	border-radius: 10px;
	

}

#typeStyle {
	color: white;
	display: inline;
}

.codeTitle {
	position: absolute;
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #888888;
}

.codeArea {
	position: absolute;
	top: 7vh;
	width: 96%;
	left: 2%;
	height: 23vh;
}

#codeBackground {
	background-color: #4a4d57;
	position: absolute;
	width: 100%;
	left: 10%;
	height: 100%;
	top: -10%;
	border-radius: 20px;
}

#cssBox {
	color: white;
	display: inline;
	width: 38vw;
	position: absolute;
	top: 20vh;
	left: 18vw;
	height: 30vh;

	border-radius: 15px;
	background: #0f1012;
	box-shadow: 20px 20px 100px #060607,
		-20px -20px 100px #181a1d;
	z-index: 0;
}

#typeStyle2 {
	color: white;
	display: inline;
}

#titleArea{
	color: white;
	width: 35vw;
	position: absolute;
	right: 2.5vw;
	height: 50vh;
	top: 10vh;
	z-index: 1;
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 4vw;
	color: #FF7818;
	transition: left 2s;
	-webkit-transition: left 2s;
}

#logArticles{
	position: absolute;
	width: 90vw;
	left: 5vw;
	height: 35vh;
	top: 65vh;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#miniprogramLog{
	height: 80%;
	position: relative;
	top: 10%;
	display: flex;
	display: -webkit-flex;
	width: 40vw;
	align-items: center;
}

#htmlLog{
	height: 80%;
	position: relative;
	top: 10%;
	display: flex;
	display: -webkit-flex;
	width: 40vw;
	align-items: center;
}

.logCover{
	position: absolute;
	width: 80%;
	background-color: blue;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
}

.logName{
	width: 16%;
	position: absolute;
	left: 82%;
	height: auto;
	border-right: #FF7818 10px solid;
}

#bottomLogo{
	height: 100%;
	position: absolute;
	right: 0;
	border-left: 2px white solid;
	border-image: -webkit-linear-gradient(#000,#000,#000,#888888,#000,#000,#000) 40 40;
}

#slogan{
	position: absolute;
	height: 100%;
	width: 25vw;
	border-right: 2px white solid;
	border-image: -webkit-linear-gradient(#000,#000,#000,#888888,#000,#000,#000) 40 40;
	padding-left: 3vw;
	padding-right: 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sloganText{
	color: #888888;
	font-style: normal;
	font-family: "Alliance No.1", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: normal;
}

#bottomLinks{
	position: absolute;
	height: 100%;
	width: calc(69vw - 20vh*1.6);
	left: 31vw;
}

#subLinks{
	position: absolute;
	height: 60%;
	width: 50%;
	left: 10%;
	top: 20%;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: normal;
}

#iconLinks{
	position: absolute;
	height: 100%;
	left: 70%;
	width: 30%;
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: normal;
}

.subLinksItem{
	height: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #888888;
}

.subIconLinksItem{
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#alertBox{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.60);
	backdrop-filter: blur(8.0px);
	-webkit-backdrop-filter: blur(8.0px);
	z-index: 5;
	transition: opacity 0.4s; 
}

#alertContent{
	width: 60vw;
	height: 60vh;
	position: absolute;
	top: 20vh;
	left: 20vw;
	background-color: white;
	border-radius: 20px;
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: center;
}

#alertTitle{
	color: black;
	font-size: 3rem;
	display: flex;
}

#alertImg1{
	width: 20vw;
	height: 20vw;
	position: absolute;
	top: calc(60vh - 20vw - 3rem);
	left: 5vw;
}

#alertImg2{
	width: 20vw;
	height: 20vw;
	position: absolute;
	top: calc(60vh - 20vw - 3rem);
	right: 5vw;
}